*~
*.el.gpg
*.elc
*.eld
auto-save-list
elpa
elpy
snippets
transient
.markdown-preview.html
custom/bazel-mode.el
.lsp-session-v1
projectile.cache
.cache
ede-projects.el
eln-cache
projects
tramp
.dap-breakpoints
*.log
recentf
var/
bookmarks
org-caldav-*.el
.org-id-locations
